<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <div class="fadeIn first">
      <div align="center"><img src="assets/loginic.png"></div>
    </div>
    <h1 style="text-align: center;"class="h3 mb-3 fw-normal">Create Account</h1>

    <div class="form-floating">
      <input formControlName="name" class="form-control" placeholder="Name">
      <label>Name</label>
    </div>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
      <label>Email</label>
    </div>

    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>

   <div class="form-floating">
      <input formControlName="password_confirmation" type="password" class="form-control" placeholder="password_confirmation">
      <label>Password Confirmation</label>
    </div>

    <button class="w-100 btn btn-lg btn-success" type="submit">Submit</button>
  </form>
</main>
